.cell {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background: #e0e0e0;
}

.first-gun {
  background-image: url('../../assets/bug.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cell.way:hover {
  cursor: pointer;
  background: darkgrey;
}

.correct-way {
  background: darkolivegreen;
}
